/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
    border: none;
}

/* UTILITIES */
li {
    list-style: none;
}

.no-underline {
    text-decoration: none;
}

.button {
    padding: 10px 20px;
    background-color: #0ea2cf;
    color: white;
    font-size: 1rem;
    border-radius: 3px;
    text-decoration: none;
}

.button:hover {
    background-color: #0d8eb6;
    transform: translateY(-7px);
}

.button-2 {
    padding: 10px 20px;
    background-color: #fdfdfd;
    border: 1px solid #686a6b5e;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    color: black;
    font-size: 1rem;
    border-radius: 3px;
    text-decoration: none;
    box-sizing: border-box;
}

.button-2:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
    border: 1px solid #2EE59D;
}

.transition-all-200 {
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

.bg-hitam {
    background-color: black;
}

.bg-putih {
    background-color: white;
}

.bg-biru {
    background-color: #BCEAD5;
}

.text-hitam {
    color: black;
}

.text-putih {
    color: white;
}

.text-biru {
    color: #BCEAD5;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.flex-col {
    flex-direction: column;
}

.letter-spacing {
    letter-spacing: 1px;
}

.text-base {
    font-size: 1rem;
    line-height: 1.5rem;
}

.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
}

.text-center {
    text-align: center;
}

.active a {
    color: #BCEAD5 !important;
}

.styled-table {
    border-collapse: collapse;
    margin: 1rem 0;
    font-size: 0.9em;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #0ea2cf;
    color: #ffffff;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:nth-of-type(odd):hover {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

/* NAVBAR */
nav {
    justify-content: space-between;
    font-size: large;
    padding: 20px 50px;
    position: sticky;
    top: 0;
    box-shadow: 0px 1px 10px #999;
    z-index: 999999999;
}

nav h4 a {
    margin-right: 100px;
}

nav ul {
    gap: 40px;
}

nav li a:hover {
    color: #BCEAD5;
}

/* HOME */
.home {
    padding-top: calc(645px - 580px);
}
.home .content {
    gap: 20px;
}

.home .content h1 {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
}

.home .content h3 {
    color: rgb(20, 20, 20);
    letter-spacing: .5px;
    font-weight: 600;
}

/* ABOUT */
.about {
    padding: 60px 0px;
}

.about .content {
    padding: 30px 50px;
    gap: 20px;
}

.about .content .aboutme {
    flex: 2;
    gap: 10px;
}

.about .content .aboutme .title {
    margin-bottom: 20px;
}

.about .content .skill {
    flex: 1;
}

.about .content .skill ul {
    flex-wrap: wrap;
    gap: 10px;
}

.about .content .skill ul li {
    padding: 10px 20px;
    border-radius: 5px;
}

/* PROJECT */
.project {
    padding: 7rem 0px;
}

.project .title {
    text-align: center;
    margin-bottom: 3rem;
}

.project .content {
    padding: 2rem 50px;
    gap: 4rem;
}

.project .content .head {
    gap: 10px;
}

.project .content .head .tag {
    background-color: #585858;
    color: white;
    padding: 3px 13px;
    border-radius: 10px;
    width: fit-content;
}

.project .content .image {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 0.25rem;
    flex: 1;
}

.project .content .image img {
    aspect-ratio: 6/4;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.project .content .desc {
    flex: 1;
    gap: 20px;
}

.project .content .desc ul {
    flex-wrap: wrap;
    gap: 10px;
}

.project .content .desc ul li {
    padding: 10px 20px;
    border-radius: 5px;
}

.project .content .desc .btn {
    gap: 1rem;
    margin-top: 10px;
}

/* FOOTER */
footer .social_media {
    justify-content: space-between;
    padding: 20px 50px;
    border-bottom: 1px solid black;
}

footer .social_media .media ul {
    gap: 5px;
}

footer .desc {
    padding: 3rem 50px;
    gap: 5rem;
}

footer .desc .my_desc {
    gap: 10px;
    flex: 1;
}

footer .desc .my_inform {
    flex: 1;
    gap: 10px;
}

footer .desc .my_inform ul li {
    gap: 10px;
}

footer .desc .my_inform ul {
    gap: 5px;
}
/* Fetch Data */
.fetch {
    padding: 1rem 4rem;
}

.fetch .pilihan {
    width: 20%;
    border: 1px solid #E8EAED;
    border-radius: 5px;
    margin-bottom: 1rem;
    cursor: pointer;
    box-shadow: 0 1px 3px -2px #9098A9;
    padding: .3rem .5rem !important;
    font-size: 1rem;
}

.fetch h1 {
    margin-bottom: 2rem;
}

.fetch .dropdown {
    width: 100%;
    display: none;
}

.fetch .table {
    display: none;
}

.fetch .search-box {
    display: flex;
    align-items: center;
    position: relative;
    width: fit-content;
}

.fetch .search-box input {
    padding: .5rem .5rem .5rem 2.2rem;
    border: 1px solid black;
    width: 15rem;
    transition: .5s ease;
    border-radius: 5px;
    letter-spacing: 0.025em;
}

.fetch input:focus {
    width: 20rem;
    transition: .5s ease;
}

.fetch button {
    background-color: transparent;
    display: flex;
    position: absolute;
    left: .3rem;
}

.fetch button:hover {
    cursor: pointer;
}